<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdvertisementService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/MyBusiness.BookAd.Services.Wcf/AdvertisementService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdvertisementService"
        contract="AdvertisementServiceReference.IAdvertisementService"
        name="BasicHttpBinding_IAdvertisementService" />
    </client>
  </system.serviceModel>
</configuration>